@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header class="top-nav">
            <div class="top-nav-brand">Blazor App</div>
            <nav class="top-nav-links">
                <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
                <NavLink href="counter">Counter</NavLink>
                <NavLink href="weather">Weather</NavLink>
            </nav>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
